<header>
<div class="container">
    <nav class=" row main-menu ">
        <ul class="col justify-content-between">
           <li class="col">
                <a routerLink="/">Home</a>
            </li>
            <li class="col projects">
                <a routerLink="projects">Projets</a>
                <ul class="submenu col">
                    <li class="col"><a  routerLink="createproject">ajouter un projet</a></li>
                </ul>
            </li>
            <li class="col projects">
                <a routerLink="users">Salarié.e.s</a>
                <ul class="submenu col">
                    <li class="col"><a  routerLink="create">ajouter un.e salarié.e</a></li>
                </ul>
            </li>
            <li class="col projects">
                <a routerLink="customers">Client.e.s</a>
                <ul class="submenu col">
                    <li class="col"><a  routerLink="createcustomer">ajouter un.e client.e</a></li>
                </ul>
            </li>
            
            
        </ul>
    </nav>
    </div>
</header>
