header{
    background:brown;
  
    text-align: center;
}
header ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
header ul li a{
    padding:10px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
}
nav > ul{
    margin:0;
    padding:0;
}

.submenu{
    display:none!important;
}
nav > ul > li{
    float:left;
    position:relative;
}
nav > ul::after{
    content: "";
    display:block;
}
nav a {
    display:inline-block;
}
nav li:hover .submenu{
    display:inline-block!important;
    position:absolute;
    top:100%;
    left:0px;
    padding:0px;
    z-index: 1000;
}
nav li:hover{
    background:rgba(128, 128, 128, 0.24);
}
.projects .submenu{
    background:rgba(67, 38, 30, 0.9);
}