<h1>Liste des projets</h1>

<div class="counter" *ngIf="projects">
    <p>{{projects.length}} projets</p>
</div>

<div class="mt-5 mb-5">
    <a routerLink='/createproject' class="btn btn-info">ajouter un projet</a>
</div>

<table class="table">

    <tr>
        <td>Name</td>
        <td>Description</td>
        <td>Client</td>
        <td>Price</td>
        <td>Statut</td>
        <td></td>
    </tr>

    <tbody>
        <tr *ngFor="let project of projects">
            
            <td>{{project.name}}</td>
            <td>{{project.description}}</td>
            <td >{{project.client}}</td>
            <td>{{project.price}} €</td>
            <td>{{project.statut}}</td>
            <td>
                <a routerLink="/project/{{project._id}}" class="btn btn-primary">voir project</a>
                <a routerLink="/projectupdate/{{project._id}}" class="btn btn-secondary">modifier project</a>
                <button type="button" name="button" class="btn btn-danger" (click)="deleteProject(project._id)">Supprimer</button>
            </td>
        </tr>
    </tbody>

</table>
